<div class="count">
    Знайдено записів: {{ pagination.getTotalItemCount }}
</div>
<br>
<table class="table table-striped">
    <thead>
        <tr>
            <th class="col-md-2">{{ knp_pagination_sortable(pagination, 'Дата публікації', ['p.publishedOn']) }}</th>
            <th>{{ knp_pagination_sortable(pagination, 'Заголовок', 'p.title') }}</th>
            <th>Вподобань</th>
        </tr>
    </thead>
    <tbody>
        {% for post in pagination %}
            <tr>
                <td>{{ post.publishedOn | date('Y-m-d')}}</td>
                <td>
                    <div>
                        <a href="{{ path('post_show', {'slug': post.slug, 'tagName': tagName|default(''), 'categorySlug': categorySlug|default('')}) }}">

                            {{ post.title|upper }}
                        </a>
                    </div>
                    <div>
                        {{ post.beginning | trim('.') | add_ellipsis }}
                    </div>
                </td>
                <td>{{ post.likes | length}}</td>
            </tr>
        {% endfor %}
    </tbody>
</table>
<div class="navigation">
    {{ knp_pagination_render(pagination) }}
</div>
