{% extends "::base.html.twig" %}

{% block title %}Подорожі{% endblock %}

{% block content %}

    <h3>{{ post.title }}</h3>
    <hr>
    <div>{{ post.text }}</div>

    <h4>Теги:</h4>
    <ul>
        {% for tag in post.tags %}

            <li>{{ tag.name }}</li>

        {% endfor %}
    </ul>
    {% if post.comments %}
        <br>
        <h4>Коментарі:</h4>
        <ul>
            {% for comment in post.comments %}

                <li>{{ comment.text }}</li>

            {% endfor %}
        </ul>
    {% endif %}
    <br>
    {{ form(form) }}

{% endblock %}
