{% extends "::base.html.twig" %}

{% block title %}Подорожі{% endblock %}

{% block content %}

    <h4>{{ wo_render_breadcrumbs({separator: ''}) }}</h4>

    <h3>{{ post.title }}</h3>
    <hr>
    <div>{{ post.text|raw }}</div>
    <br>
    <h4>Теги:</h4>
    <ul>
        {% for tag in post.tags %}

            <li>
                <a href="{{ path('posts_list_by_tag', {'name': tag.name}) }}">{{ tag.name }}</a>
            </li>

        {% endfor %}
    </ul>
    <br>
    {{ form(likeForm) }}

    {% include "OlenazaBlogBundle:post:_partials_post_comments_list.html.twig" %}
    <br>
    {% if commentForm is defined %}
        {{ form(commentForm) }}

    {% else %}
        <h4>! Будь ласка, авторизуйтесь, щоб залишити коментар.<h4>
    {% endif %}
{% endblock %}
